{% extends 'base.html' %} 
{% load static %} 
{% block metadescription %} 
{{product.description|truncatewords:120}} 
{% endblock %} 
{% block title %} 
{% if category %}
    {{product.name}} - Ecom shop 
{% else %} 
    See our new colletions 
{% endif %} 
{% endblock %} 
{% block content %} 
<div>
    <div>
        <p><a href="{% url 'ecomapp:allProductCat' %}">Home</a> | 
    <a href="{{ product.category.get_url }}">{{ product.category }}</a>|    
    {{ product.name }}</p>
    </div>
</div>
<br>
<div class="container">
    <div class="row">
        <div class="col-4">
            <img class="product_img" src="{{ product.image.url }}" alt="{{ product.name }}" width="700" height="600">
        </div>
    
        <div class="col-8">
            <div>
                <h2 style="font-weight: 700;">{{ product.name }}</h2>
                <p>$ {{ product.price }}</p>
                <p><b>Product description</b></p>
                <p>{{ product.description }}</p>
                {% if product.stock <= 0 %}
                    <p><b>Out of Stock</b></p>
                {% else %}
                    <a class="btn btn-secondary btn-sm" href="{% url 'cart:add_cart' product.id %}">Add to Cart</a>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock %} 